@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@100;400&display=swap");

:root {
  --color-1: #f5b0c3;
  --color-2: #423035;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    var(--color-1),
    #f6b6c7,
    #f7bbcc,
    #f7c1d0,
    #f8c6d4
  );
}

.main-container {
  width: 450px;
  background-color: white;
  padding: 55px 75px 60px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  box-shadow: -1px 11px 11px 1px black;
}

#form-title {
  font-family: "Montserrat", sans-serif;
  color: var(--color-2);
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

#form-border {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  padding: 20px;
  color: #0e0d0d;
  border-radius: 5px;
  border: 1px solid #919191;
}

.field-label {
  display: block;

  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-bottom: 11px;
}

.field-input {
  display: block;
  width: 300px;

  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: var(--color-2);
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #919191;
}

.error-message {
  display: block;
  visibility: hidden;

  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: end;
  width: 300px;
}

#submit-button {
  font-family: "Montserrat", sans-serif;
  color: var(--color-1);
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 15px;
  background-color: var(--color-2);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}

#submit-button:active {
  background-color: var(--color-1);
  color: var(--color-2);
}

.submit-button {
  font-family: "Montserrat", sans-serif;
  color: var(--color-1);
  font-size: 24px;
  font-weight: 600;
  width: 100%;
  padding: 15px;
  background-color: var(--color-2);
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 15px;
}

.submit-button:active {
  background-color: var(--color-1);
  color: var(--color-2);
}

.input-field-error {
  border: 2px solid #ff4949;
}

.visible-error {
  color: #ff4949;
  visibility: visible;
}
