@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Inter&display=swap");
:root {
  --font-title: "Dongle", sans-serif;
  --font-text: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ff416c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ff4b2b,
    #ff416c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: #ffffff;
  /* Pa qué putas repite el margin: 0 */
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-title);
}

p {
  font-family: var(--font-text);
}

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex {
  display: flex;
}

input,
button {
  border: 1px solid #dedede;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  /* Pa qué putas repite el margin: 0 */
  margin: 0;
}

input[type="text"] {
  width: 300px;
}

.search-btn {
  cursor: pointer;
  border-radius: 0;
  border-left: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.random-btn {
  cursor: pointer;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: 10px;
}

.meals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;
}

.meal img {
  width: 100%;
  height: 100%;
  border: 4px #fff solid;
  border-radius: 2px;
}

.meal-info {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

.meal-info:hover {
  opacity: 1;
}

@media (max-width: 800px) {
}
@media (max-width: 700px) {
}
@media (max-width: 500px) {
  input[type="text"] {
    width: 100%;
  }
}
